LESSON_URLS = ["https://www.duolingo.com/lesson/unit/3/legendary/5", "https://www.duolingo.com/lesson/unit/6/legendary/8", "https://www.duolingo.com/lesson/unit/6/legendary/3", "https://www.duolingo.com/lesson/unit/5/legendary/9", "https://www.duolingo.com/lesson/unit/5/legendary/4", "https://www.duolingo.com/lesson/unit/4/legendary/8", "https://www.duolingo.com/lesson/unit/4/legendary/3", "https://www.duolingo.com/lesson/unit/3/legendary/10", "https://www.duolingo.com/lesson/unit/3/legendary/5"]
PROFILE_PATH = r"C:\Users\{YouWindowsUserName}\AppData\Local\Google\Chrome\User Data\Default"
SLEEP_TIME = 2
NUMBER_OF_TABS = 3